<div class="container text-justify">
	<div class="jumbotron">


		<h2>Department of Telecommunication</h2>
		<hr>
		<p>We at this department strive our best to bridge the gap between
			academics and industry requirements.Our department is filled with
			excellent faculty who are dedicated towards the holistic development
			of an individual. We at Dayananda Sagar College of
			Engineering,provide one of the best infrastructure to nurture the
			need of students.</p>
		<h2>Vision of the Department</h2>
		<hr>
		<p>To disseminate quality technical education for achieving
			Academic Excellence through focused research encompassing Mobile,
			Sensor, Telecommunication networks with a thrust on Space
			Communication and Telecommunication Standards.</p>
		<h2>Mission of Department</h2>
		<hr>
		<p>By disseminating the knowledge of devices ,systems and
			technologies that are impacting the Telecommunication field.</p>
		<p>By educating students towards multi-disciplinary practices of
			Telecommunication industry and standard for a successful career.</p>
		<p>By inculcating research attitude among graduates in
			cutting-edge for Telecommunication sector.</p>

	</div>

<!--	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
		rel="stylesheet" />
		
 	<footer class="footer">
		<div class="container text-center">
			<p>Contact us on</p>
			<a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i
				class="fa fa-twitter fa-2x"></i></a> <a href="#"><i
				class="fa fa-linkedin fa-2x"></i></a> <a href="#"><i
				class="fa fa-google-plus fa-2x"></i></a> <a href="#"><i
				class="fa fa-skype fa-2x"></i></a>
		</div>
	</footer>
 -->
</div>
