<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Telecommunication Department</h1>
		<p>This example is a quick exercise to illustrate how the default,
			static and fixed to top navbar work. It includes the responsive CSS
			and HTML, so it also adapts to your viewport and device.</p>
		<p>We at this department strive our best to bridge the gap between
			acadamics and industry requirements.Our department is filled with
			excellent faculty who are dedicated towards the holistic development
			of an individual. We at Dayananda Sagar College of
			Engineering,provide one of the best infrastructure to nurture the
			need of students.</p>
		<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar"
				role="button">View navbar docs &raquo;</a>
		</p>
		<h1>Vision of the Department</h1>
		<p>To disseminate quality tchnical education for achieving
			Academic Excellence through focused research encompassing
			Mobile,Sensor,Telecommunication networks with a thrust on Space
			Communication and Telecommunication Standards.</p>
		<h1>Mission of Department</h1>
		<p>*By disseminating the knowledge of devices ,systems and
			technologies that are impacting the Telecommunication field.</p>
		<p>*By educating students towards multidisciplinary practices of
			Telecommunication industry and standard for a successful career.</p>
		<p>*By inculcating research attitude among graduates in
			cutting-edge for Telecommunicatin sector.</p>
	</div>

</div>
