<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Telecom Department</h1>
		<p>We at this department strive our best to bridge the gap between
			academics and industry requirements.Our department is filled with
			excellent faculty who are dedicated towards the holistic development
			of an individual. We at Dayananda Sagar College of
			Engineering,provide one of the best infrastructure to nurture the
			need of students.</p>
		<h2>Vision of the Department</h2>
		<hr>
		<p>To disseminate quality technical education for achieving
			Academic Excellence through focused research encompassing
			Mobile,Sensor,Telecommunication networks with a thrust on Space
			Communication and Telecommunication Standards.</p>
		<h2>Mission of Department</h2>
		<hr>
		<p>By disseminating the knowledge of devices ,systems and
			technologies that are impacting the Telecommunication field.</p>
		<p>By educating students towards multidisciplinary practices of
			Telecommunication industry and standard for a successful career.</p>
		<p>By inculcating research attitude among graduates in
			cutting-edge for Telecommunicatin sector.</p>
	</div>

</div>
