<div class="container-fluid">

	<div class="page-header col-lg-12">
		<h1>
			Companies visiting campus <small>Department of Telecommunication</small>
		</h1>
	</div>
	<div>
		<div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Number of offers</th>
					<th>CTC offered</th>
					<th>Industry Domain</th>
				</tr>
				<tr ng-repeat="company in companies ">
					<td>{{ company.name }}</td>
					<td>{{ company.noOffers }}</td>
					<td>{{ company.ctc }}</td>
					<td>{{ company.companyType }}</td>
				</tr>
			</table>
		</div>
	</div>


</div>