<div class="container text-justify">
	<h1>Events</h1>
	<p>NETSYS-2017 - an inaugural edition of the workshop conducted by
		Department of Telecommunication Engineering on Feb 06th and 07th 2017.
	</p>
	<p>In order to provide an insight of networking concepts and the
		technological updates to keep our students walk along the recent
		trends on communication networks. This workshop focuses on 4th
		semester students to know the basic computer communication network
		concepts and networking operating systems. Hands-on training program
		was given on "VMWare platform" to build knowledge on network
		programming in C on Linux. VMWare Workstation is a hosted hypervisor
		that runs Windows and Linux operating system. It enables users to set
		up virtual machines (VMs) on a single physical machine, and use them
		simultaneously along with the actual machine. Each virtual machine can
		execute its own operating system, including versions of Microsoft
		Windows, Linux, BSD, and MS-DOS.</p>

	<h2>Program summary</h2><hr>
	<h3>Monday, Feb 06, 2017</h3>
	<table class="table">
		<tr>
			<th>Time</th>
			<th>Topic</th>
			<th>Resource Person</th>
		</tr>
		<tr>
			<td>10:00 AM - 11:00 AM</td>
			<td>Importance of NETSYS -2017 workshop</td>
			<td>Prof Santhosh B</td>
		</tr>
		<tr>
			<td>11:15 AM - 1:00 PM</td>
			<td>Insight on Computer Communication Networks</td>
			<td>Dr Devaraju ,Prof Smitha Sasi</td>
		</tr>
		<tr>
			<td>2:00 PM - 4:30 PM</td>
			<td>Hands-on training on VMWare</td>
			<td>Dr Devaraju ,Prof Smitha Sasi</td>

		</tr>
	</table>


	<h3>Tuesday, Feb 07, 2017</h3>


	<table class="table">
		<tr>
			<th>Time</th>
			<th>Programme</th>
			<th>Resource Person</th>
		</tr>
		<tr>
			<td>10:00 AM - 11:00 AM</td>
			<td>Practice C program in Linux</td>
			<td>Dr Devaraju ,Prof Smitha Sasi</td>
		</tr>

		<tr>
			<td>11:15 AM -11:00 PM</td>
			<td>Program Contest on C in Linux</td>
			<td>Prof Santhosh B</td>
		</tr>
		<tr>
			<td>2:30 PM - 3:30 PM</td>
			<td>Quiz</td>
			<td>Dr Devaraju</td>
		</tr>
	</table>
	<p>Felicitation Ceremony was held in C D sagar Auditorium .Dr C P S
		Prakash, Principal, DSCE, addressed the audience and distributed
		certificates for the winners of Quiz and debugging Contest .Dr A R
		Aswatha discussed the advantages of workshops in autonomous
		curriculum. Prof Santhosh B talked about the recent trends in the
		networking in real world and thanked to the entire team who made this
		event successful.</p>
</div>
