
<div class="container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Faculty</div>
		<div class="panel-body">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Name</th>
					<th>Edu Qualification</th>
					<th>Designation</th>
					<th>E-mail ID</th>
					<th>Specialization</th>
					<th>Phone</th>
				</tr>
				<tr ng-repeat="faculty in faculties">
					<td>{{ faculty.name }}</td>
					<td>{{ faculty.educationalQualification }}</td>
					<td>{{ faculty.designation }}</td>
					<td>{{ faculty.emailId }}</td>
					<td>{{ faculty.specialization }}</td>
					<td>{{ faculty.phoneNumber }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>