<div class="container-fluid" ng-controller="FacultyController">

	<div class="page-header col-lg-6">
		<h1>
			Faculty <small>Department of Telecommunication</small>
		</h1>
	</div>
	<div class="input-group input-group-lg">
		<span class="input-group-addon" id="sizing-addon1">Search
			Faculty</span> <input type="text" class="form-control"
			placeholder="Enter the faculty name" aria-describedby="sizing-addon1"
			ng-model='name'>
	</div>
	<div ng-repeat="faculty in faculties | filter: name">
		<div class="clearfix" ng-if="$index % 3 == 0"></div>
		<div class="col-lg-4 text-center">
			<img class="img-circle" src="images/faculty/{{ faculty.imageName }}"
				alt="faculty image not available" width="140" height="140">
			<h3 class="text-capitalize">{{faculty.salutation}} {{faculty.name }}</h3>
			<p>
				<strong>Education</strong> {{ faculty.educationalQualification }}
			</p>
			<p>
				<strong>Designation</strong> {{ faculty.designation }}
			</p>
			<p>
				<strong>E-mail</strong> {{ faculty.emailId }}
			</p>
			<p>
				<strong>Specialization</strong> {{ faculty.specialization }}
			</p>
			<p>
				<strong>Phone</strong> {{ faculty.phoneNumber }}
			</p>
			<p>
				<a class="btn btn-secondary" href="#faculty_profile" ng-click="viewFacultyDetails(faculty)" role="button">View details
					>> </a>
			</p>
		</div>
	</div>


</div>