
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Personal details of USN: 123456</div>
		<div class="panel-body">

			<table class="table table-striped table-bordered">
				<tr>
					<td><strong>First Name </strong></td>
					<td>Ankitha</td>
				</tr>
				<tr>
					<td><strong>Middle Name </strong></td>
					<td></td>
				</tr>
				<tr>
					<td><strong>Last Name </strong></td>
					<td>Venkatesh</td>
				</tr>
				<tr>
					<td><strong>Semester</strong></td>
					<td>6</td>
				</tr>
				<tr>
					<td><strong>Phone</strong></td>
					<td>1234567891</td>
				</tr>
				<tr>
					<td><strong>Current Address</strong></td>
					<td>address</td>
				</tr>
				<tr>
					<td><strong>Parent's or Gaurdian contact</strong></td>
					<td>1234567891</td>
				</tr>
				<tr>
					<td><strong>Emergency contact</strong></td>
					<td>1234567891</td>
				</tr>

			</table>
		</div>

		<!-- Table -->

	</div>

</div>
