<div class="container">
	<h1>Program Specific Outcomes</h1>
	<div class="clearfix"></div>
	<div class="text-justify col-lg-12">
		<p>1. To apply fundamental concepts of electrical and electronic
			circuits to analyze communication theory and systems.</p>
		<p>2. To design embedded system based solutions for realizing the
			real-time communication networks.</p>
		<p>3. To evaluate the core merits of signal processing and network
			protocols for telecommunication engineering standards, services and
			applications.</p>
	</div>
</div>



