<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Program Specific Outcomes</h2>
		</div>
		<div class="panel-body">
			<ul class="list-group text-justify col-lg-12">
				<li class="list-group-item">To apply fundamental concepts of
					electrical and electronic circuits to analyze communication theory
					and systems</li>
				<li class="list-group-item">To design embedded system based
					solutions for realizing the real-time communication networks</li>
				<li class="list-group-item">To evaluate the core merits of
					signal processing and network protocols for telecommunication
					engineering standards, services and applications</li>
			</ul>
		</div>
	</div>
</div>