<div class="container" ng-controller="ResearchController">
	<h1>On going research activities <small>Department of Telecommunication</small></h1>
	<div class="clearfix"></div>
	<table class="table text-justify" ng-repeat="research in researches">
		<tr>
			<th class="col-lg-4 lead">Title</th>
			<td>{{ research.title }}</td>
		<tr>
		<tr>
			<th class="lead">Description</th>
			<td>{{ research.description }}</td>
		</tr>
		<tr>
			<th class="lead">PI : Name and designation</th>
			<td>{{ research.piNameDesignation }}</td>
		</tr>
		<tr>
			<th class="lead">CO PI : Name and designation</th>
			<td>{{ research.coPiNameDesignation }}</td>
		</tr>
		<tr>
			<th class="lead">Funding agency and amount</th>
			<td>{{ research.fundingAgencyAndAmount }}</td>
		</tr>
		<tr>
			<th class="lead">Year : from and up to Status</th>
			<td>{{ research.startYearEndYear }}</td>
		</tr>
	</table>
</div>
