<div class="container-fluid">

	<div class="page-header col-lg-6">
		<h1>
			Syllabus <small>Telecom Department</small>
		</h1>
	</div>
	<div class="input-group input-group-lg">
		<span class="input-group-addon" id="sizing-addon1">Search
			Subject name</span> <input type="text" class="form-control"
			placeholder="Enter the subject name" aria-describedby="sizing-addon1"
			ng-model='name'>
	</div>

	<div>
		<div>
			<table class="table">
				<tr>
					<th>Subject Code</th>
					<th>part</th>
					<th>Unit #</th>
					<th>Title</th>
					<th>Description</th>
					<th>Teaching Hours</th>
				</tr>
				<tr ng-repeat="unit in units | filter: name">
					<td>{{ unit.subjectCode }}</td>
					<td>{{ unit.part }}</td>
					<td>{{ unit.unit }}</td>
					<td>{{ unit.unitTitle }}</td>
					<td>{{ unit.unitDesciption }}</td>
					<td>{{ unit.unitHours }}</td>

				</tr>
			</table>
		</div>
	</div>


</div>